<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>index</title>
    <nav th:insert="menu.html::menu_nav"></nav>
</head>
<body>
    <h1>index</h1>
    <hr>
    <a th:href=@{/allstudents}>Students</a>
    <a th:href=@{/allprofessors}>Professors</a>
    <a th:href=@{/allschoolgroups}>School Groups</a>
    <a th:href=@{/alldisciplines}>Disciplines</a>
</body>
</html>

