<html th:fragment="menu_nav" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
<nav class="nav-cont" th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org">
    <div class="nav-wrapper">

        <div class="logo-image">
            <a href="https://storage0.dms.mpinteractiv.ro/media/1/1481/25326/19086986/2/7421694-mediafax-foto-andreea-alexandru.jpg?width=600"
                 class="brand-logo">
            <img src="https://storage0.dms.mpinteractiv.ro/media/1/1481/25326/19086986/2/7421694-mediafax-foto-andreea-alexandru.jpg?width=600"
                 alt="image-catalog"></a>
            </a>
        </div>
            <span>Online School Catalog</span>

        <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/homeallschoolgroups}" class="menu-item">Home</a></li>
            <li><a th:href="@{/allstudents}" class="menu-item">Students</a></li>
            <li><a th:href="@{/allprofessors}" class="menu-item">Professors</a></li>
            <li><a th:href="@{/allschoolgroups}" class="menu-item">School Groups</a></li>
            <li><a th:href="@{/alldisciplines}" class="menu-item">Disciplines</a></li>
            <li><a th:href="@{/login}" class="grey-text text-#CACACA right" id="logout">Logout</a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><a th:href="@{/homeallschoolgroups}" class="menu-item">Home</a></li>
            <li><a th:href="@{/allstudents}" class="menu-item">Students</a></li>
            <li><a th:href="@{/allprofessors}" class="menu-item">Professors</a></li>
            <li><a th:href="@{/allschoolgroups}" class="menu-item">School Groups</a></li>
            <li><a th:href="@{/alldisciplines}" class="menu-item">Disciplines</a></li>
            <li><a th:href="@{/login}" class="grey-text text-#CACACA right" id="logout-collapse">Logout</a></li>
        </ul>
    </div>
</nav>
    <script type="text/javascript">
	    $(".button-collapse").sideNav();
    </script>
</body>
</html>
